data/kidney.csv data/kidney_infos.txt data/kidney_test.csv data/kidney_train.csv data/titanic.csv
doc/CM.pdf doc/Fiche_notations.pdf doc/Sujet_projet.pdf
doc/.CM.pdf.icloud
.ipynb_checkpoints/data explo-checkpoint.ipynb
data explo.ipynb
.DS_Store
